<div>
    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-warning">
            {{ flash_message }}
        </div>
    {% endfor %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#issueForm" aria-controls="issueForm" role="tab" data-toggle="tab">
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li role="presentation">
            <a href="#issueAttachments" aria-controls="issueAttachments" role="tab" data-toggle="tab">
                {% trans %}Attachments{% endtrans %}
            </a>
        </li>
        <li role="presentation">
            <a href="#issueActivity" aria-controls="issueActivity" role="tab" data-toggle="tab">
                {% trans %}Activity{% endtrans %}
            </a>
        </li>
        <li role="presentation">
            <a href="#issueComments" aria-controls="issueComments" role="tab" data-toggle="tab">
                {% trans %}Comments{% endtrans %}
            </a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content issueTabContent">
        <div role="tabpanel" class="tab-pane active" id="issueForm">
            <form id="editIssueForm" onsubmit="return false;">
            {{ form_row(form.project) }}
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    {{ form_row(form.status2) }}
                </div>
                <div class="col-xs-12 col-sm-4">
                    {{ form_row(form.priority) }}
                </div>
                <div class="col-xs-12 col-sm-4">
                    {{ form_row(form.type) }}
                </div>
            </div>
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            <div class="row">
                <div class="col-xs-12 col-sm-6">{{ form_row(form.userAssigned) }}</div>
                <div class="col-xs-12 col-sm-6" style="position: relative;">{{ form_row(form.dateDue) }}</div>
            </div>

            <div class="">
                <button class="btn btn-success" onclick="ListController.saveIssue();">
                    {% trans %}Save issue{% endtrans %}
                </button>
            </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="issueAttachments">
            {% for attachment in attachments %}
                {{ attachment.createDate | date("d.m.Y H:i") }}
            {% else %}
                {% trans %}Empty attachment list{% endtrans %}
            {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane" id="issueComments">
            {% for comment in comments %}
                {{ comment.createDate | date("d.m.Y H:i") }}
            {% else %}
                {% trans %}Empty comment list{% endtrans %}
            {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane" id="issueActivity">
            <div class="ui feed">
                {% for history in histories %}
                    <div class="event">
                        <div class="label">
                            <img src="{{ helperService.getRandomAvatar() }}">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">
                                    {{ history.user.name }}
                                </a> {{ history.action | raw }}
                                <div class="date">
                                    {{ history.historyDate | date("d.m.Y H:i") }}
                                </div>
                            </div>
                            <div class="meta">
                                <a class="like">
                                    <i class="like icon"></i> 4 Likes
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div>{% trans %}Not activity{% endtrans %}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>