{% trans_default_domain "Projects" %}
<div class="taskList_head">
    {{ list.title|trans }}
</div>
<div class="taskList_body">
    {% for issue in projectService.getIssueByList(list.name,project) %}
        <div class="issueMiniBlock">
            <div class="issueMiniBlock_statusLine"></div>
            <div class="issueMiniBlock_infoBox" style="cursor: pointer;" onclick="ListController.viewIssue({{ issue.id }});">
                <div>{{ issue.name }} | {{ issue.title }}</div>
                <div>
                    {% if issue.userAssigned != null %}
                        <span class="label label-default">{{ issue.userAssigned.name }}</span>
                    {% endif %}
                    {% if issue.dateDue != null %}
                        {% set labelClass = "default" %}
                        {% if date(issue.dateDue) < date("now") %}
                            {% set labelClass = "danger" %}
                        {% elseif date(issue.dateDue) == date("now")  %}
                            {% set labelClass = "warning" %}
                        {% endif %}
                        <span class="label label-{{ labelClass }}">{{ issue.dateDue | date("d.m.Y") }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="issueMiniBlock_rightBlock">
                <div id="listContent_rightMenu_issueMenu_{{ issue.id }}" class="ui dropdown">
                    <i class="dropdown icon"></i>
                    <div class="menu" style="left:auto;right: 0;">
                        <div class="item" onclick="ListController.viewIssue({{ issue.id }});">{% trans %}View issue{% endtrans %}</div>
                        <div class="item">{% trans %}Close issue{% endtrans %}</div>
                    </div>
                </div>
                <script>
                    $("#listContent_rightMenu_issueMenu_{{ issue.id }}").dropdown({});
                </script>
            </div>
        </div>
    {% else %}
        <div class="alert alert-default">
            {% trans %}Issue list is empty{% endtrans %}
        </div>
    {% endfor %}
</div>
<div class="taskList_foot">
    {% if list.name == "TODO" %}
    <button class="ui button secondary" onclick="ListController.newIssue('{{ list.name }}')">
        <i class="plus icon"></i>
        {% trans %}Add new issue{% endtrans %}
    </button>
    {% endif %}
</div>