{% extends 'AppBundle:_template:default.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-10 col-lg-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans %}Assigned projects{% endtrans %}</div>
                <div class="panel-body">
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans %}Project title{% endtrans %}</th>
                        <th>{% trans %}Role in project{% endtrans %}</th>
                        <th>{% trans %}Action{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for projectUser in projectUsers %}
                            {% set project = projectUser.project %}
                            <tr>
                                <td>{{ project.id }}</td>
                                <td>
                                    <a href="{{ url('_project_work',{"id":project.id}) }}">
                                        <h4 class="media-heading">{{ project.title }}</h4>
                                    </a>
                                </td>
                                <td>{{ projectUser.role.name }}</td>
                                <td>
                                    <button onclick="ProjectController.viewProject({{ project.id }})" class="btn btn-primary">
                                        {% trans %}Edit{% endtrans %}
                                    </button>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">
                                    {% trans %}Projects list is empty{% endtrans %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" onclick="ProjectController.newProject();">
                        {% trans %}Create new project{% endtrans %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready( function () {
            ProjectController = new ProjectController({
                getProjectUrl: "{{ url('_project_get_project', {}) }}",
                saveUrl: "{{ url('_project_save_project', {}) }}"
            });
        });
    </script>
{% endblock %}
{% block controllerModals %}
    {% include 'AppBundle:_template:modals/projectView.html.twig' %}
{% endblock%}